.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    height: 40px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    
}

.header__searchInput {
    height: 100px;
    padding: 10px;
    border: none;
    width: 50%;

}
.header__searchIcon {
    padding: 0px;
    height: 100px;
    color: rgb(226, 223, 223);
}

.header__userIcon {
    margin-right: 10px;
    margin-left: 5px;
    height: 100px;
    color: rgb(226, 223, 223);

}
